.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f6ebcf;
}
.nav h5{
    margin: 0.2em;
    font-weight: 400;
    font-size: 0.8em;
}