.category{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f1ebba;
    padding: 0 15px;
}
.sub-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.sub-category h5{
    font-size: 1.3em;
    color: #575757;
    margin: 0;
}
.sub-category p{
    text-align: center;
}
.category-items{
    margin: 20px 0;
}
.category-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}

@media (max-width: 768px){
    .category-items{
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}